[Desktop Entry]
Version=1.0
Type=Application
Name=Postamn
Comment=Postman starter
Exec=postman
Icon=/usr/local/etc/Postman/app/resources/app/assets/icon.png
Path=/headless
Terminal=false
StartupNotify=false
